__pycache__/
*.deb
*.log
*.debhelper
*.substvars
debhelper-build-stamp
files
debian/.debhelper
debian/aptupdatechecker/
debian/tmp/
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/files

# Added by cargo

/target
/vendor/
