[Unit]
Description=Aptupdatechecker meta service
Documentation=https://github.com/tylerkelly13/aptupdatechecker

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
