[Unit]
Description=Update APT cache periodically
Documentation=https://github.com/tyler/aptupdatechecker

[Timer]
OnBootSec=2min
OnUnitActiveSec=3h
Persistent=true

[Install]
WantedBy=timers.target
