[Unit]
Description=Update APT package cache
Documentation=https://github.com/tyler/aptupdatechecker

[Service]
Type=oneshot
ExecStart=/usr/bin/aptupdatechecker update
CPUQuota=25%
