[Unit]
Description=Unnecessary package autoremover
Documentation=https://github.com/tylerkelly13/aptupdatechecker

[Service]
Type=oneshot
CPUQuota=25%
ExecStart=apt-get -y autoremove
