[Unit]
Description=Unnecessary package autoremover (timer)

Requires=multi-user.target
After=multi-user.target

[Timer]
OnCalendar=weekly
OnStartupSec=180min
RandomizedDelaySec=60min
Persistent=true

[Install]
WantedBy=timers.target