[Unit]
Description=Checks for firmware updates (timer)

Requires=graphical.target multi-user.target
After=graphical.target multi-user.target

[Timer]
OnCalendar=hourly
OnStartupSec=5min
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target aptupdatechecker.service