[Unit]
Description=Checks for package updates

[Service]
Type=oneshot
CPUQuota=50%
ExecStart=python3 /usr/lib/aptupdatechecker/bin/apt_update_checker
