[Unit]
Description=Checks for package updates (timer)

Requires=graphical.target multi-user.target
After=graphical.target multi-user.target

[Timer]
OnCalendar=6 hours
OnStartupSec=5min
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target aptupdatechecker.service