#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CARGO_CRATE = aptupdatechecker_$(DEB_VERSION_UPSTREAM)

%:
	dh $@ --buildsystem=cargo

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/aptupdatechecker $(DESTDIR)/usr/bin/aptupdatechecker

override_dh_auto_test:
	cargo test --release

override_dh_auto_clean:
	cargo clean
