[Unit]
Description=Check for firmware updates and notify (timer)
Documentation=https://github.com/tyler/aptupdatechecker

[Timer]
OnStartupSec=10min
OnUnitActiveSec=3h10min
RandomizedDelaySec=2min
Persistent=true

[Install]
WantedBy=timers.target