[Unit]
Description=Check for firmware updates and notify (timer)
Documentation=https://github.com/tyler/aptupdatechecker

[Timer]
OnCalendar=hourly
OnStartupSec=5min
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target