[Unit]
Description=Check for package updates and notify user
Documentation=https://github.com/tyler/aptupdatechecker

[Service]
Type=oneshot
CPUQuota=25%
ExecStart=/usr/bin/aptupdatechecker check
ExecStartPost=-/bin/rm %t/apt-updates-available
